<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link href="../static/styles/home.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="./styles/header.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/./styles/loginHeader.css" />

    <script>
      $(document).ready(function () {
        get_products();
        random_products();
      });

      function get_products() {
        $.ajax({
          type: 'GET',
          url: '/products',
          data: {},
          success: function (response) {
            for (let e of response.data) {
              let id = e.productId;
              let name = e.productName;
              let spec = e.productExp;
              let price = e.price;
              let photo = e.productPhoto;
              let quantity = e.quantity;
              let count = e.userCount;
              let created = e.createdAt;
              let updated = e.updatedAt;
              let temp_html = `<div class="col"> <a class ="divTextHidden" href="/${id}"><div class="products">
                            <div class="photoBox">
                              <img src="${photo}"/>
                            </div>
                            <p>${name}</p>
                            <p>${price}원</p>
                          </div></a>
                          <div class = "displayNone">${spec}${quantity}${count}${created}${updated}</div></div>`;
              $('.product_list').append(temp_html);
            }
          },
        });
      }

      // 정렬 순서바꾸기 시도

      // function get_upsorted_products() {
      //   $.ajax({
      //     type: 'GET',
      //     url: '/products',
      //     data: {},
      //     success: function (response) {
      //       const upsorted_data = response.data.sort((a,b)=>a.createdAt - b.createdAt)
      //       console.log(upsorted_data);
      //       for (let e of upsorted_data) {
      //         let id = e.productId;
      //         let name = e.productName;
      //         let spec = e.productExp;
      //         let price = e.price;
      //         let photo = e.productPhoto;
      //         let quantity = e.quantity;
      //         let count = e.userCount;
      //         let created = e.createdAt;
      //         let updated = e.updatedAt;
      //         let temp_html = `<div class="products">
      //                       <div class="photoBox">
      //                         <a href="/${id}"><img src="${photo}"/></a>
      //                       </div>
      //                       <p>${name}</p>
      //                       <p>${price}원</p>
      //                       <button onclick="buy">구매</button>
      //                       <button onclick="addProduct">장바구니</button>
      //                     </div>
      //                     <div class = "displayNone">${spec}${quantity}${count}${created}${updated}</div>`;
      //         $('.product_list').append(temp_html);
      //       }
      //     },
      //   });
      // }
      // function get_downsorted_products() {
      //   $.ajax({
      //     type: 'GET',
      //     url: '/products',
      //     data: {},
      //     success: function (response) {
      //       const downsorted_data = response.data.sort((a,b)=>b.createdAt - a.createdAt)
      //       console.log(downsorted_data);
      //       for (let e of downsorted_data) {
      //         let id = e.productId;
      //         let name = e.productName;
      //         let spec = e.productExp;
      //         let price = e.price;
      //         let photo = e.productPhoto;
      //         let quantity = e.quantity;
      //         let count = e.userCount;
      //         let created = e.createdAt;
      //         let updated = e.updatedAt;
      //         let temp_html = `<div class="products">
      //                       <div class="photoBox">
      //                         <a href="/${id}"><img src="${photo}"/></a>
      //                       </div>
      //                       <p>${name}</p>
      //                       <p>${price}원</p>
      //                       <button onclick="buy">구매</button>
      //                       <button onclick="addProduct">장바구니</button>
      //                     </div>
      //                     <div class = "displayNone">${spec}${quantity}${count}${created}${updated}</div>`;
      //         $('.product_list').append(temp_html);
      //       }
      //     },
      //   });
      // }

      function random_products() {
        $.ajax({
          type: 'GET',
          url: '/products',
          data: {},
          success: function (response) {
            let random =
              response.data[Math.floor(Math.random() * response.data.length)];
            let randomId = random.productId;
            let randomName = random.productName;
            let randomSpec = random.productExp;
            let randomPhoto = random.productPhoto;
            let price = random.price;
            let random_html = `<a class ="divTextHidden" href="/${randomId}"><div><img id="randImg" src="${randomPhoto}"/></div>
                        <div><h2>${randomName}</h2></div>
                        <div>${randomSpec}
                          <p>${price}원</p>
                        </div></a>`;
            $('.randomItem').append(random_html);
          },
        });
      }
    </script>
    <style>
      .displayNone {
        display: none;
      }

      .homeNav {
        background-color: black;
        color: white;

        display: flex;
        justify-content: space-between;
      }

      .align {
        margin: auto;
        width: 1400px;

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .randomBox {
        margin: 10px;
        padding: 20px;
        width: 1330px;
        border: 1px solid;
      }

      .product_list {
        flex-direction: row;
        display: flex;
      }

      .products {
        padding: 5px;
        margin: 10px;
        width: 300px;
        border: 1px solid;
        flex-direction: row;
      }
      
      .productsBox {
        width: 1330px;
      }

      .productBox {
        flex-direction: row;
      }

      .photoBox {
        background-color: gray;
        height: 120px;
        text-align: center;
      }

      .photoBox img {
        height: 120px;
      }

      #randImg {
        height: 240px;
      }

      .navTextHidden {
        text-decoration: none;
        color: white;
      }

      .divTextHidden {
        text-decoration: none;
        color: black;
      }
    </style>

    <title>공구해조</title>
  </head>
  <body>
    <!-- header -->
    <% if(login) { %> <%- include('mypageHeader.ejs') %> <% }else{ %> <%-
    include('loginHeader.ejs') %> <% } %>
    <div class="align">
      <div class="randomBox">
        <div class="randomItem"></div>
      </div>
      <!-- <select>
        <option value="정렬 방법을 선택하세요">정렬 방법을 선택하세요</option>
        <option value="최신순" onchange={get_upsorted_products}>최신순</option>
        <option value="오래된순" onchange={get_downsorted_products}>오래된순</option>
      </select> -->
      <div class="productsBox">
        <div class="row row-cols-4 product_list"></div>
      </div>
    </div>
    <!-- <script src="../static/scripts/home.js"></script> -->
    <script>
      function logout() {
        $.ajax({
          type: 'GET',
          url: '/api/auth/logout',
          success: function (response) {
            alert(response.message);
            window.location.href = '/login';
          },
          error: function (response) {
            alert(response.responseJSON.message);
          },
        });
      }
    </script>
  </body>
</html>
