<header class="site-header">
  <nav class="site-header__nav">
    <div class="site-header__nav__home">
      <a href="/">공구해조</a>
    </div>
    <div class="site-header__nav__columns">
      <a href="/login">로그인</a>
      <a href="/join">회원가입</a>
    </div>
  </nav>
</header>
