<div class="header">
  <nav>
    <a href="/"><img id="logo" src="images/logo.PNG" /></a>
    <div class="nav-links">
      <ul>
        <li><a href="./login">로그인</a></li>
        <li><a href="./join">회원가입</a></li>
      </ul>
    </div>
  </nav>
</div>