<div>
  <div class="text-align">
    <div>
      <h1>로그인</h1>
    </div>
    <div class="login-box">
      <div class="form-floating form-margin form-margin-top">
        <input type="id" class="form-control" id="id" placeholder="Id" />
        <label for="id"></label>
      </div>
      <div class="form-floating form-margin">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <label for="password"></label>
      </div>
      <button class="btn btn-lg btn-info" type="button" onclick="login()">
        Login
      </button>
      <!-- 아이디저장과 아이디찾기,패스워드변경 여기까지 -->
      <!-- <div class="add-box">
        <span class="find">
          <span
            class="idSearch"
            id="idSearch"
            style="cursor: hand; cursor: pointer"
            onclick="findId()"
          >
            아이디 찾기 |
          </span>
          <span
            class="pwSearch"
            id="pwSearch"
            style="cursor: hand; cursor: pointer"
            onclick="deleteUser()"
          >
            비밀번호변경
          </span>
        </span>
      </div> -->
      <!-- 아이디저장과 아이디찾기,패스워드변경 여기까지 -->

      <div>
        <button
          type="button"
          class="btn btn-link"
          onclick="location.href='/join'"
        >
          회원이 아니신가요??
        </button>
      </div>
    </div>
  </div>
</div>
