<header class="site-header">
  <nav class="site-header__nav">
    <div class="site-header__nav__home">
      <a href="/">공구해조</a>
    </div>
    <div class="site-header__nav__columns">
      <a href="/baskets">장바구니</a>
      <a href="/mypage">마이페이지</a>
      <a href="/chattingOnline">실시간 상담 채팅</a>
      <button type="button" class="btn btn-link" onclick="logout()">
        Log Out
      </button>
    </div>
  </nav>
</header>
