<div class="header">
  <nav>
    <a href="/"><img id="logo" src="images/logo.PNG" /></a>
    <div class="nav-links">
      <ul>
        <li><a href="./baskets">장바구니</a></li>
        <li><a href="./mypage">마이페이지</a></li>
        <li><a href="./chattingOnline">실시간 상담 채팅</a></li>
        <li class="logout-btn"><a href="#" onclick="logout()">로그아웃</a></li>
      </ul>
    </div>
  </nav>
</div>