#main-container {
  width: 90%;
  height: 1000px;
  margin: auto;
}

.title {
  display: flex;
  justify-content: space-between;
}

.product-box {
  height: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgb(158, 158, 158);
}

.product {
  margin: 0 10px;
  text-align: center;
}

.product-image {
  height: 100%;
}

.img-box {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;   
}

#image-show, #modify-image-show{
  width: 100%;
  height: 200px;
  padding: 20px;
}

.btn-confirm {
  margin-top: 10px;
  float: right;
}
