.site-header {
  background-color: #343a40;
  padding: 20px;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
}
/* 메인 */
#main {
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 채팅 영역 */
#chat {
  height: 75%;
  width: 100%;
  overflow-y: auto;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

#nicknameInput {
  width: 80%;
  margin: auto;
}

.float-right {
  float: right;
}

.display-flex {
  display: flex;
}

#messageInput {
  margin-bottom: 5%;
}

ul {
  list-style: none;
}
