*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color:#3b3b3b;
    padding: 8px 0;
}
.header nav{
    padding-left: 5px;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
#logo{
    height: 42px;
}
.nav-links{
    flex: 10;
    text-align: right;
}
.nav-links ul {
    margin-bottom: 0 !important;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #eebf54;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}