.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-box {
  width: 30%;
  border: 1px solid;
}

.order-box {
  width: 30%;
  border: 1px solid;
  margin-top: 3%;
}

.form-margin {
  margin: 20px;
}

.form-margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-left {
  margin-left: 20px;
}
